
  /* <!-- This header section  -->  */

.manu-div{}
.manu-div ul{}
.manu-div ul li{
 position: relative;
    
}


.manu-div ul li a{}
.manu-div ul li ul {
    position: absolute;
    list-style: none;
    top: 36px;
    left: 9px;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    background-color: #ddd;
    padding: 0;
    transition: .5s;
    
   
  
}

.manu-div ul li:hover ul{
    visibility: visible;
    opacity: 1;
}
.manu-div ul li ul li{
    display:block;
    padding: 0 20px;
}
.manu-div ul li ul li a {
    display: block !important;
    padding: 8px 0px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    /* line-height: 36px; */
    transition: .5s;
}

.manu-div ul li ul li:hover{
    background-color: rgba(244, 236, 236, 0.906);
  
}

.manu-div ul li ul li:hover a{
    padding-left: 5px;
}

.product-item h1{
    height: 100px;
    width: 100px;
    line-height: 100px;
}

.imf {
    margin-left: -175px;
    height: 95px;
    width: 107px;
}

.form-btn {
    margin-left: 254px;
}